body {
    background-color: lightskyblue;
}

#canvas {
    border:1px solid grey;
    background-color: white;
    margin: auto;
    display: block;

}

input {
    font-size: 30px;
    width: 600px;
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
    margin: auto;
    padding: 5px;
}

select {
    color: grey;
    display: inline-block;
    margin: auto;
    height: 30px;
    padding: 5px;

}

.rounded-top-corner {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.rounded-bottom-corner {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#font {
    display: inline-block;
    margin: auto;
}

.property {
    text-align: center;
}

/* font families */
.serif {
    font-family: Times, Times New Roman, Georgia, serif;
}

.sansserif {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.monospace {
    font-family: Lucida Console, Courier, monospace;
}

.cursive {
    font-family: cursive;
}

.fantasy {
    font-family: fantasy;
}