body {
    background-color: lightskyblue;
}

#canvas {
    border:1px solid red;
    background-color: white;
    margin: auto;
}

input {
    font-size: 30px;
}

.center {
    text-align: center;
    margin: auto;
}
/*
select option.color {
    color: green;
    background-color: green;
  }
  
.color:nth-of-type(2) {
    color: red;
    background: red;
}
*/